<div class="home__container">
    <app-card 
        gameCover="assets/bt-1.jpg"
        gameLabel="Digital"
        gameType="Digital | PS4"
        gamePrice="R$129,99">
    </app-card>
    <app-card 
        gameCover="assets/bt-4.jpg"
        gameLabel="Exclusive"
        gameType="Disc | PS5"
        gamePrice="R$269,99">
    </app-card>
    <app-card 
        gameCover="assets/ac-cover.jpg"
        gameLabel="Best of year"
        gameType="Digital | PS5"
        gamePrice="R$369,99">
    </app-card>
    <app-card 
        gameCover="assets/bt-hardline.jpg"
        gameLabel="New"
        gameType="Digital | PS3 PS4 PS5"
        gamePrice="R$369,99">
    </app-card>
</div>
